@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&family=Space+Grotesk:wght@300;400;500;600;700&display=swap');

:root{
    --gotesk-font:'Inter', sans-serif;
    --inter-font:'Space Grotesk', sans-serif;
}

*{
    margin: 0px;
    padding: 0px;
}

body{
    background-color: #121214;
}

header{
    background-color: #17171A;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 64px 0px;
}

.logo{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.logo h2{
    color: #FFF;
    font-family: var(--gotesk-font);
    font-size: 27px;
    font-weight: 500;
    margin-bottom: 27px;
}

.orange{
    color: #E07B67;
}

.barra-pesquisa{
    background-color: #202024;
    border: 2px solid #252529;
    border-radius: 8px;
    padding: 10px 0px;
    width: 75vw;
}

form{
    display: flex;
    align-items: center;
}

form img{
    width:26px;
    margin-left: 15px;
    margin-right: 17px;
}

form input{
    background-color: transparent;
    color: #FFF;
    border-style: none;
    outline: none;
    font-size: 20px;
    width: 60vw;
}

section{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.card-1{
    max-width: 1000px;
    display: flex;
    flex-direction: column;
    padding: 40px;
    gap: 20px;
    margin: 50px 20px;

    background-color: #1717171A;
    border: 2px solid #252529;
    border-radius: 8px;
}

.card-1:hover{
    border: 2px solid #E07B67;
}

.date-hearth-1{
    display: flex;
    justify-content: space-between;
}

.date-hearth-1 h3{
    color: #E07B67;
    font-family: var(--inter-font);
    font-size: 16px;
    font-weight: 500;
}

.card-1 h2{
    color: #FFF;
    font-family: var(--gotesk-font);
    font-size: 24px;
    font-weight: 500;
}

.card-1 p{
    color: #AFABB6;
    font-family: var(--inter-font);
    font-size: 20px;
    font-weight: 500;
    line-height: 32px;
}

.card-2{
    max-width: 1000px;
    display: flex;
    flex-direction: column;
    padding: 40px;
    gap: 20px;
    margin: 50px 20px;

    background-color: #1717171A;
    border: 2px solid #252529;
    border-radius: 8px;
}

.card-2:hover{
    border: 2px solid #E07B67;
}

.date-hearth-2{
    display: flex;
    justify-content: space-between;
}

.date-hearth-2 h3{
    color: #E07B67;
    font-family: var(--inter-font);
    font-size: 16px;
    font-weight: 500;
}

.card-2 h2{
    color: #FFF;
    font-family: var(--gotesk-font);
    font-size: 24px;
    font-weight: 500;
}

.card-2 p{
    color: #AFABB6;
    font-family: var(--inter-font);
    font-size: 20px;
    font-weight: 500;
    line-height: 32px;
}

.card-3{
    max-width: 1000px;
    display: flex;
    flex-direction: column;
    padding: 40px;
    gap: 20px;
    margin: 50px 20px;

    background-color: #1717171A;
    border: 2px solid #252529;
    border-radius: 8px;
}

.card-3:hover{
    border: 2px solid #E07B67;
}

.date-hearth-3{
    display: flex;
    justify-content: space-between;
}

.date-hearth-3 h3{
    color: #E07B67;
    font-family: var(--inter-font);
    font-size: 16px;
    font-weight: 500;
}

.card-3 h2{
    color: #FFF;
    font-family: var(--gotesk-font);
    font-size: 24px;
    font-weight: 500;
}

.card-3 p{
    color: #AFABB6;
    font-family: var(--inter-font);
    font-size: 20px;
    font-weight: 500;
    line-height: 32px;
}